<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品分类页面</title>
    <script src="../js/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/iconfont.css">
    <link rel="stylesheet/less" type="text/css" href="../css/category.less" />
    <script src="../js/less.js"></script>
    <script src="../js/login-views-if.js"></script>
    <script src="../js/url.js"></script>
</head>

<body>
    <div class="category">
        <header class="header">
            <div class="logo">
                <a href="../index.html"><img src="../images/B2Clogo.png" alt=""></a>
            </div>
            <div class="search-warp">
                <div class="search">
                    <i class="iconfont icon-sousuo"></i>
                    <input type="text" placeholder="请输入产品名称" id="inputValue">
                    <button id="buttonFn">搜索</button>
                </div>
                <div class="shouye">
                    <a href="../index.html"><button>返回首页</button></a>
                </div>
            </div>
        </header>
        <!-- 导航 -->
        <div class="nav-wrap" id="nav-wrap">
            <div class="nav">
                <ul class="item-wrap"></ul>
            </div>
        </div>
        <div class="main">
            <ul class="main-list">
                <!-- <li>
                    <div class="image">
                        <a href="">
                            <img src="../images/product123.jpg" alt="" title="点击查看详情">
                        </a>
                    </div>
                    <div class="title">
                        <a href="">
                            秦弩2020新款男士休闲西裤免烫修身版男直通裤百搭商务男西裤
                        </a>
                    </div>
                </li> -->
            </ul>
        </div>
        <div class="footer">
            2020 京慧越公司 版权所有
        </div>
    </div>
    <script src="../js/category.js"></script>
</body>

</html>