<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品详情</title>
    <link rel="stylesheet/less" href="../css/detail.less">
    <link rel="stylesheet" href="../css/iconfont.css">
    <script src="../js/less.js"></script>
    <script src="../js/jquery.js"></script>
    <script src="../js/login-views-if.js"></script>
    <script src="../js/url.js"></script>
</head>

<body>
    <div class="detail">
        <div class="header-wrap">
            <header class="header">
                <div class="logo">
                    <a href="../index.html"><img src="../images/B2Clogo.png" alt=""></a>
                </div>
                <div class="search-warp">
                    <div class="search">
                        <i class="iconfont icon-sousuo"></i>
                        <input type="text" placeholder="请输入产品名称" id="inputValue">
                        <button>搜索</button>
                    </div>
                    <div class="shouye">
                        <a href="../index.html"><button>返回首页</button></a>
                    </div>
                </div>
            </header>
        </div>
        <div class="detail-title">
            <h1>夏装2020新款小心机露肩条纹防晒衬衫女短袖韩范气质衬衣打底上衣</h1>
        </div>
        <div class="imgda-wrap" id="imgda-wrap">
            <!-- 图片放大镜 -->
            <div class="imgda">
                <div class="leftcon" id="left">
                    <div class="left-image"></div>
                    <div class="slide_box" id="box"></div>
                    <div class="icons" id="btnicon">
                        <i class="iconfont icon-bofang1"></i>
                    </div>
                </div>
                <div class="rightcon" id="right"></div>
            </div>
            <div class="video-wrap" id="video-wrap">
                <video src="" controls="controls" id="video" loop autoplay="autoplay"></video>
            </div>
            <!-- 底部展示小图片 -->
            <div style="width: 960px;margin: 0 auto;">
                <div class="image-childs">
                    <div class="prev">
                        <i class="iconfont icon-zuojiantou1 icon"></i>
                    </div>
                    <div class="image-center">
                        <div class="image-child" id="image-child"></div>
                    </div>
                    <div class="next">
                        <i class="iconfont icon-youjiantou1 icon"></i>
                    </div>
                </div>
            </div>
            <!-- 右侧说明图片 -->
            <div class="imgda-detail" id="sarr">
                <table class="table">
                    <tr>
                        <td>若您要上传供应产品“详细说明”的图片：</td>
                    </tr>
                    <tr>
                        <td>1. 上传的图片必须是限定120k内（不能超过120K），必须是jpg或gif格式，图片大小最大可以是1024*768像素的，建议500×500象素。</td>
                    </tr>
                    <tr>
                        <td>2. 图片体积小，打开速度比较快；2000px*2000px则很容易超过主图容量上限500K，而且图片显示速度比较慢。</td>
                    </tr>
                    <tr>
                        <td>3. 宝贝描述图片尺寸：最大宽度750px，高度由商品特点决定；淘宝宝贝描述模板已经取消950px通栏选项，现在默认宝贝描述最大宽度就是750px。</td>
                    </tr>
                    <tr>
                        <td>4. 如果图片有点大超过120K的，可以在PHOTOSHOP里将做好的图片选择“文件”里“存储为WEB所用格式”里，右边有个“品质”可以调节它的大小为120K内的。</td>
                    </tr>
                    <tr>
                        <td>若您要上传供应产品“详细说明”的视频：</td>
                    </tr>
                    <tr>
                        <td>1、视频长度：不超过60秒，视频长短最好控制在9秒和30秒之间。</td>
                    </tr>
                    <tr>
                        <td>2. 视频比例：推荐1:1,16:9,3:4。视频的文件大小不能超过300mb</td>
                    </tr>
                    <tr>
                        <td>3. 视频格式：具体支持的视频格式：wmv、avi、mpg、mpeg、3gp、mov、mp4、flv、f4v、m2t、mts、rmvb、vob、mkv。
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="product">
            <div class="product-title">
                详细信息
            </div>
            <div class="product-img">
                <img src="../images/1.jpg" alt="">
                <img src="../images/2.jpg" alt="">
            </div>
        </div>
        <div class="footer">
            2020 京慧越公司 版权所有
        </div>
    </div>
    <script src="../js/detail.js"></script>
</body>

</html>