<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品分类页面</title>
    <script src="../js/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/iconfont.css">
    <link rel="stylesheet/less" type="text/css" href="../css/category.less" />
    <script src="../js/less.js"></script>
    <script src="../js/login-views-if.js"></script>
    <script src="../js/url.js"></script>
</head>

<body>
    <div class="category">
        <header class="header">
            <div class="logo">
                <a href="../index.html"><img src="../images/jingdong.png" alt=""></a>
            </div>
            <div class="span">商品分类</div>
            <div class="search-warp">
                <div class="search">
                    <i class="iconfont icon-sousuo"></i>
                    <input type="text" placeholder="请输入产品名称" id="inputValue">
                    <button id="buttonFn">搜索</button>
                </div>
                <div class="shouye">
                    <a href="../index.html"><button>返回首页</button></a>
                </div>
            </div>
        </header>

        <div class="nav-wrap">
            <div class="left-main">
                <div class="title">
                    分类导航
                </div>
                <div class="nav">
                    <!-- <div class="nav-child">
                        <h3><a href="">电脑家电</a></h3>
                        <div>
                            <a href="">笔记本</a>
                            <a href="">轻薄本</a>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="right-main">
                <div class="banner" id="banner">
                    <ul class="banner-img" id="banner-img">
                        <li class="active"><img src="../images/category-bn1.png"></li>
                        <li><img src="../images/category-bn2.png"></li>
                        <li><img src="../images/category-bn3.png"></li>
                        <li><img src="../images/category-bn4.png"></li>
                    </ul>
                    <div id="next"></div>
                    <ul class="dots" id="dots">
                        <li class="active"></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="product">
                    <ul class="shop-warp">
                        <!-- <li>
                            <div class="data">
                                <a href="detail.html">
                                    <div>
                                        <img src="../images/shop.jpg" alt="">
                                    </div>
                                    <p>春秋季超火ins工装裤男士直筒束脚潮牌百搭坠感阔腿九分休闲裤子</p>
                                </a>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        2020 京慧越公司 版权所有
    </div>
    <script src="../js/category.js"></script>
</body>

</html>