<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品详情</title>
    <link rel="stylesheet/less" href="../css/detail.less">
    <link rel="stylesheet" href="../css/iconfont.css">
    <script src="../js/less.js"></script>
    <script src="../js/jquery.js"></script>
    <script src="../js/login-views-if.js"></script>
    <script src="../js/url.js"></script>
</head>

<body>
    <div class="detail">
        <div class="header-wrap">
            <header class="header">
                <div class="logo">
                    <a href="../index.html"><img src="../images/jingdong.png" alt=""></a>
                </div>
                <div class="search-warp">
                    <div class="search">
                        <i class="iconfont icon-sousuo"></i>
                        <input type="text" placeholder="请输入产品名称" id="inputValue">
                        <button>搜索</button>
                    </div>
                    <div class="shouye">
                        <a href="../index.html"><button>返回首页</button></a>
                    </div>
                </div>
            </header>
        </div>
        <div class="detail-title">
            <h1>夏装2020新款小心机露肩条纹防晒衬衫女短袖韩范气质衬衣打底上衣</h1>
        </div>
        <div class="imgda-wrap" id="imgda-wrap">
            <!-- 图片放大镜 -->
            <div class="imgda">
                <div class="leftcon" id="left">
                    <div class="left-image"></div>
                    <div class="slide_box" id="box"></div>
                    <div class="icons" id="btnicon">
                        <i class="iconfont icon-bofang1"></i>
                    </div>
                </div>
                <div class="rightcon" id="right"></div>
            </div>
            <div class="video-wrap" id="video-wrap">
                <video src="" controls="controls" id="video" loop autoplay="autoplay"></video>
            </div>
            <!-- 底部展示小图片 -->
            <div style="width: 960px;margin: 0 auto;">
                <div class="image-childs">
                    <div class="prev">
                        <i class="iconfont icon-zuojiantou1 icon"></i>
                    </div>
                    <div class="image-center">
                        <div class="image-child" id="image-child"></div>
                    </div>
                    <div class="next">
                        <i class="iconfont icon-youjiantou1 icon"></i>
                    </div>
                </div>
            </div>
            <!-- 右侧说明图片 -->
            <div class="imgda-detail" id="sarr">
                <table class="table">
                    <tr>
                        <td>若您要上传供应产品“详细说明”的图片：</td>
                    </tr>
                    <tr>
                        <td>1. 商品主图图片在800*800像素以上，提供5张(不同视角，如正面、侧面、反面、产品细节图等，必须有一张商品主体正面图片)</td>
                    </tr>
                    <tr>
                        <td>2. 商品描述中需要提供4至6张多角度插图图片，其中必须有一张商品主体正面图片，商品图片中不得有其它非在售商品。</td>
                    </tr>
                    <tr>
                        <td>3. 主图中不可以有大面积的黑投影和反射的任何事物，而且图片所示的商品颜色、规格等必须与商品展示文字介绍一致。
                        </td>
                    </tr>
                    <tr>
                        <td>4.
                            商品图片中不得有任何与商品本身无关的内容(包含文字或图形)，诸如商品价格、商品生产企业、商品品牌、日期、其他网站logo等文字性描述或图形，五张主图格式都支持jpg,png和gif，最好是png格式
                        </td>
                    </tr>
                    <tr>
                        <td>若您要上传供应产品“详细说明”的视频：</td>
                    </tr>
                    <tr>
                        <td>1、视频长度：不超过90秒，视频长短最好控制在9秒和30秒之间。</td>
                    </tr>
                    <tr>
                        <td>2. 视频比例：推荐推荐 16 :9 (服装推荐7:9)，视频的文件大小不能超过30M</td>
                    </tr>
                    <tr>
                        <td>3. 请保持产品完整出现在可见区域内，保持水平视角，严禁歪斜、抖动、频闪、失真等滤镜效果，主题突出、形式简单、方式优美
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="product">
            <div class="product-title">
                详细信息
            </div>
            <div class="product-img">
                <!-- <img src="../images/1.jpg" alt="">
                <img src="../images/2.jpg" alt=""> -->
            </div>
        </div>
        <div class="footer">
            2020 京慧越公司 版权所有
        </div>
    </div>
    <script src="../js/detail.js"></script>
</body>

</html>