<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品分类页面</title>
    <script src="../js/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/iconfont.css">
    <link rel="stylesheet/less" type="text/css" href="../css/category.less" />
    <script src="../js/less.js"></script>
</head>

<body>
    <div class="category">
        <header class="header">
            <div class="logo">
                <a href="../index.html"><img src="../images/logo.png" alt=""></a>
            </div>
            <div class="span">商品市场</div>
            <div class="search-warp">
                <div class="search">
                    <i class="iconfont icon-sousuo"></i>
                    <input type="text" placeholder="请输入产品名称" id="inputValue">
                    <button id="buttonFn">搜索</button>
                </div>
                <div class="shouye">
                    <a href="../index.html"><button>返回首页</button></a>
                </div>
            </div>
        </header>
        <div style="background: #f2f2f2;" class="main">
            <div class="main-wrap">
                <div class="left-main">
                    <div class="title">
                        类目导航
                    </div>
                    <div class="nav">
                        <!-- <div class="nav-title">女装男装啊&nbsp;&nbsp;&nbsp;&nbsp;</div>
                        <div class="nav-child">
                            <h3>热门类目</h3>
                            <ul>
                                <li>皮衣</li>
                                <li>九分裤</li>
                                <li>西裤</li>
                                <li>西装</li>
                                <li>西裤</li>
                                <li>西装</li>
                                <li>西裤</li>
                                <li>西装</li>
                            </ul>
                        </div> -->
                    </div>
                </div>
                <div class="right-main">
                    <ul class="shop-warp">
                        <!-- <li>
                            <div class="data">
                                <div>
                                    <img src="../images/shop.jpg" alt="">
                                </div>
                                <p>春秋季超火ins工装裤男士直筒束脚潮牌百搭坠感阔腿九分休闲裤子</p>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer">
            2020 京慧越公司 版权所有
        </div>
    </div>
    <script src="../js/category.js"></script>
</body>

</html>