<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品详情</title>
    <link rel="stylesheet/less" href="../css/detail.less">
    <link rel="stylesheet" href="../css/iconfont.css">
    <script src="../js/less.js"></script>
    <script src="../js/jquery.js"></script>
</head>

<body>
    <div class="detail">
        <div class="header-wrap">
            <header class="header">
                <div class="logo">
                    <a href="../index.html"><img src="../images/logo.png" alt=""></a>
                </div>
                <div class="span">商品详情</div>
                <div class="search-warp">
                    <div class="search">
                        <i class="iconfont icon-sousuo"></i>
                        <input type="text" placeholder="请输入产品名称" id="inputValue">
                        <button>搜索</button>
                    </div>
                    <div class="shouye">
                        <a href="../index.html"><button>返回首页</button></a>
                    </div>
                </div>
            </header>
        </div>
        <div class="detail-title">
            <h1>夏装2020新款小心机露肩条纹防晒衬衫女短袖韩范气质衬衣打底上衣</h1>
        </div>
        <div class="imgda-wrap" id="imgda-wrap">
            <!-- 图片放大镜 -->
            <div class="imgda">
                <div class="leftcon" id="left">
                    <div class="left-image"></div>
                    <div class="slide_box" id="box"></div>
                    <div class="icons" id="btnicon">
                        <i class="iconfont icon-bofang1"></i>
                    </div>
                </div>
                <div class="rightcon" id="right"></div>
            </div>
            <div class="video-wrap" id="video-wrap">
                <video src="" controls="controls" id="video" loop autoplay="autoplay"></video>
            </div>
            <!-- 底部展示小图片 -->
            <div style="width: 960px;margin: 0 auto;">
                <div class="image-childs">
                    <div class="prev">
                        <i class="iconfont icon-zuojiantou1 icon"></i>
                    </div>
                    <div class="image-center">
                        <div class="image-child" id="image-child"></div>
                    </div>
                    <div class="next">
                        <i class="iconfont icon-youjiantou1 icon"></i>
                    </div>
                </div>
            </div>
            <!-- 右侧说明图片 -->
            <div class="imgda-detail" id="sarr">
                <table class="table">
                    <tr>
                        <td>若您要上传供应产品“详细说明”的图片：</td>
                    </tr>
                    <tr>
                        <td>1. 单张图片最大为5MB（未安装flash10的情况单张只能上传最大1MB）；</td>
                    </tr>
                    <tr>
                        <td>2. 仅限上传jpg,jpeg,gif,bmp,png格式。</td>
                    </tr>
                    <tr>
                        <td>温馨提示：为保证浏览速度和浏览效果，系统会自动为您优化压缩，具体规则如下：</td>
                    </tr>
                    <tr>
                        <td>1）超长图的图片尺寸：1920×8000（宽×高）,若宽度大于1920或者高于大于8000，图片都会被等比压缩。</td>
                    </tr>
                    <tr>
                        <td>2）其他图的图片尺寸：1920×1920（宽×高）,若宽度大于1920或者高于大于1920，图片都会被等比压缩。</td>
                    </tr>
                    <tr>
                        <td>超长图的定义：高度/宽度大于等于2</td>
                    </tr>
                    <tr>
                        <td>温馨提醒：您可以上传的图片格式为jpg、jpeg、gif、png、bmp，如果您的电脑安装flash10可以上传5MB以内图片，未安装flash10的上传图片大小不超过1MB。
                        </td>
                    </tr>
                    <tr>
                        <td>若您要上传供应产品“详细说明”的视频：</td>
                    </tr>
                    <tr>
                        <td>1.时长需小于45秒，尺寸建议为1:1，具体大小不超过100M，建议突出商品核心卖点。</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="product">
            <div class="product-title">
                详细信息
            </div>
            <div class="product-img">
                <!-- <img src="../images/1.jpg" alt="">
                <img src="../images/2.jpg" alt=""> -->
            </div>
        </div>
        <div class="footer">
            2020 京慧越公司 版权所有
        </div>
    </div>
    <script src="../js/detail.js"></script>
</body>

</html>